
body {
    background-color: #000;
    color: #fff;
}
.btn-danger {
    background-color: #d80000;
    border-color: #d80000;
}

h1, p, label, div, span, a {
    color: white !important;
}

.nav-tabs .nav-link.active {
  background-color: #d80000;  /* Rojo corporativo */
  color: white !important;    /* Texto blanco visible */
  border-color: #d80000;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #111;
  z-index: 2;
  text-align: center;
}
/* Solo primera columna (NOMBRE) */
.table td:first-child,
.table th:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

/* Estilos para la Pantalla de Carga */
#loading-overlay {
    position: fixed; /* Se queda fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    z-index: 9999; /* Se asegura de que esté por encima de todo */
    display: none; /* Oculto por defecto */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}

/* Spinner animado */
.spinner {
    border: 8px solid #f3f3f3; /* Gris claro */
    border-top: 8px solid #d80000; /* Rojo Huentelauquén */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  .col-nombre-cuenta {
    white-space: nowrap;
    min-width: 260px;  /* ajusta según te acomode */
  }
  .btn-comentario {
    font-size: 0.75rem;

    
  }

    /* Mantener la columna NOMBRE más ancha */
  table.table td:first-child,
  table.table th:first-child {
      width: 350px !important;   /* ajustable */
      min-width: 350px !important;
      max-width: 350px !important;
      white-space: nowrap;
  }

  /* Las demás columnas mantienen tamaño automático */
  table.table td:not(:first-child),
  table.table th:not(:first-child) {
      white-space: nowrap;}