body {
    background-color: #000;
    color: #fff;
}
.btn-danger {
    background-color: #d80000;
    border-color: #d80000;
}

h1, p, label, div, span, a {
    color: white !important;
}

.nav-tabs .nav-link.active {
  background-color: #d80000;  /* Rojo corporativo */
  color: white;
}

/* Hover sobre las pestañas */
.nav-tabs .nav-link:hover {
  background-color: #b30000;  /* Rojo más oscuro */
  color: white;
}

/* Pestañas inactivas */
.nav-tabs .nav-link {
  color: #f0f0f0;  /* Gris claro */
}

/* Contenedor del contenido de las pestañas */
.tab-content {
  background-color: #1a1a1a;  /* Fondo oscuro */
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #333;
}

/* Para que todo el texto quede blanco dentro del contenido */
.tab-content * {
  color: white;
}


/* Estilos para la tabla con encabezados fijos */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #111;
  z-index: 2;
  text-align: center;
}

/* Estilos para la Pantalla de Carga */
#loading-overlay {
    position: fixed; /* Se queda fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    z-index: 9999; /* Se asegura de que esté por encima de todo */
    display: none; /* Oculto por defecto */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* El círculo de carga */
.loading-spinner {
    border: 8px solid rgba(255, 255, 255, 0.2); /* Borde claro */
    border-top: 8px solid #e60000; /* Rojo Huentelauquén */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 20px;
}

/* Animación de giro */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  .col-nombre-cuenta {
    white-space: nowrap;
    min-width: 350px;  /* ajusta según te acomode */
  }
  .btn-comentario {
    font-size: 0.75rem;

    
  }

    
/* Alertas adaptadas al tema oscuro */
.alert-warning {
    background-color: #5a3d00 !important;   /* café/amarillo oscuro */
    color: #ffffff !important;             /* texto blanco */
    border-color: #ffc107 !important;      /* borde amarillo tipo warning */
}

.alert-warning a,
.alert-warning a:hover,
.alert-warning a:focus {
    color: #fff !important;
    text-decoration: underline;
}

/* inputs de porcentaje en tabla oscura */
.input-porcentaje-costanera {
    max-width: 100px;
}

/* asegurar texto claro en cards grises */
.card.bg-secondary {
    color: #fff;
}
